@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}

.contents{
  display: flex;
  .left-side-green{
    background-color: $primary;
    height: 632px;
    width: 552px;
    left:93px;
    top: 103px;
    z-index: -1;
    margin-left: 90px;
  }
  .dirty-boy{
    z-index: 1;
    position: absolute;
    width: 552px;
    height: 635px;
    left: 63px;
    top: 74px;
    margin-top: 700px;
    margin-right: 300px;;
  }
  .play{
    z-index: 2;
    position: absolute;
    width: 118px;
    height: 118px;
    left: 18.5rem;
    top: 22rem;
   
    margin-top: 700px;
  }
  .right-side{
    display: flex;
    width: 50%;
    h2{
      margin-left: 200px;
      font-size: 48px;
      font-weight: 900;
     width: 641px;
     height: 116px;
     margin-bottom: 51px;
    }
    p{
      width: 572px;
      height: 199px;
      top: 1248px;
      left: 720px;
      font-weight: 400;
      font-size: 18px;
      margin-left: 200px;
    }
    
    .report-2{
      background-color: $primary;
      position: absolute;
      width: 259px;
      height: 70px;
      border-radius: 10px;
      margin-left: 200px;
      color: white;
      font-weight: 400;
      font-size: 18px;
    }
  }
  
}

.crisis{
  background-color: $primary;
  height: 810px;
  width: 100%;
  
  .recent-reports{
    color: white;
    padding-left: 200px;
    font-weight: 700;
    font-size: 48px;
  }
  .under-line{
    background-color: white;
    height: 11px;
    width: 110px;
    margin-left: 200px;
  }
  .pic-problems{
    background-color: white;
    width: 300px;
    height: 424px;
    margin-top: 60px;
    border-radius: 10px;
    margin-left: 30px;
  }
  .rectangle-6{
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
  }
  .pic-flex{
    display: flex;
  }
  .ogoni{
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: $primary;
    
  }
  .date{
    font-size: 14px;
    font-weight: 400;
    margin-left: 200px;
    
   margin-bottom: 20px;
  }
  .text-ogini{
    margin-bottom: 10px;
  }
  .ogoni-lga{
    color:$primary
  }
  .see{
    width: 259px;
  height: 70px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 550px;
    margin-top: 30PX;
  }
  
  
}

.niger-delta{
  .niger-d{
    font-size: 48px;
    font-weight: 400;
    width: 705px;
    height: 116px;
    display: flex;
  }

}
.container-last-image{
  
  margin-right: 200px;
  display: flex;

  .last-pic{
    width: 317px;
    height: 257px;
    display: flex;
    margin-left: 120px;
  }
}
.desined{
  width: 100%;
  height: 92px;
  background-color: $primary;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  margin-top: 250px;
  align-items: center;
  
  }
  .built{
    display: flex;
    justify-content: center;
    background-color:$primary;
    color: white;
    margin-top: 100px;
  }
  .matt{
    font-weight: 800;
   
  }

  
  
